[2021-03-09 21:34] knro opened #1 "Add to INDI 3rd party?"
Hello, great work on the driver! I just found about this today. Do you think this is ready for including in the official INDI 3rd party repository? This way it can receive more widespread testing.

[2021-03-10 08:07] kneo commented on #1
I'd like that, but I'd like to make sure it conforms to the indi guidelines, also there are some bugs with the sync function too.
I'm not sure when I find the time to do that, weather is anything but kind.

However, I'm honored to be considered for a 3rd Party inclusion.
If you don't mind my considerations, we can simply go ahead.

[2021-03-10 09:48] knro commented on #1
Sure, that would be great! Once it is there, it will be tested by the community and perhaps even fixes/improvements are submitted to address any issues! Please check if you can submit a PR and we'll work on that. Great job on the documentation as well!

[2021-03-10 16:19] kneo commented on #1
I never made a pull request. I'll look into it on the weekend.

[2021-03-18 15:56] knro commented on #1
Hello @kneo , any update on this? If you need help with creating the PR, please let me know so we can proceed.

[2021-03-19 13:36] FocusAG commented on #1
Hello @kneo. I'm one of the parts interested in make the driver for INDI to work, and I think that I was the one o put @knro in touch with you about a request that I made to his team a few days ago. I'm not a programer and I know almost nothing about programming. but I can help with the testings. I've just found out two problems on the driver.. actually tree of them. If your interested I can do so

[2021-03-20 10:21] kneo commented on #1
Hello @knro @FocusAG,
despite my initial optimism I currently find myself in a position where I have to spoil anyones hopes with a good portion of pessimism, worst realism even.
I came to this conclusion after testing the last weeks, which is why I answer this late.

I can not publish this driver to a wide range user base with a clean conscience.
It has to do with my standards of "good software" a

[2021-03-20 11:38] knro commented on #1
@kneo Thank you for the feedback! It's greatly appreciated and I applaud your candor in this matter. It is important for the users to know about the limitation for this driver, especially since it is reversed engineering and the manufacturer is not interested to cooperate with 3rd party developers as far as I can tell.

We can add a disclaimer when using the driver about these limitations. For mos

[2021-03-20 12:14] kneo commented on #1
@knro I really underestimated what the effort I need to put into that.
I will simply PR the modified limited stable version in to a branch of the 3rd party repository and let you know when I'm done.
I hope to be finished within the next weeks but I don't want to commit to a fixed deadline. I currently lack the proper means to do this.

@FocusAG If you found issues, just open issues with a descript

[2021-04-05 01:52] FocusAG commented on #1
Kevin, any help with this? Tried to install on the Stellarmate OS, did a few adjustments on you guidelines on how to install it but I'm stucked here.. on the CMake ..

![20210405_014620](https://user-images.githubusercontent.com/80964892/113528782-2eb07b80-95b1-11eb-8b1c-91799b8d015f.jpg)

[2021-04-05 09:49] kneo opened #2 "Build Problems on Stellarmate OS"
Kevin, any help with this? Tried to install on the Stellarmate OS, did a few adjustments on you guidelines on how to install it but I'm stucked here.. on the CMake ..

![20210405_014620](https://user-images.githubusercontent.com/80964892/113528782-2eb07b80-95b1-11eb-8b1c-91799b8d015f.jpg)

_Originally posted by @FocusAG in https://github.com/kneo/indi-bresserexos2/issues/1#issuecomment-813140431_

[2021-04-05 09:54] kneo commented on #2
@FocusAG
I shifted it in a new issue, since it is off topic in the other issue.

It seems, the development headers are not installed. Please make sure `libindi-dev` is installed.

[2021-04-05 09:56] kneo commented on #1
Please continue in [this issue](https://github.com/kneo/indi-bresserexos2/issues/2#issue-850247113)

[2021-04-05 18:27] FocusAG commented on #2
Hi Kevin,, yup it's installed.. I've just checked the libindi-dev and it's installed..
I just installed again in order to make sure of it.
Run the driver and same problem.

Cheers,
Cesar

[2021-04-06 05:40] kneo commented on #2
It states, that it can not find some version header, so maybe the install location on Stellarmate OS deviates from Astroberry.

Please run:

`find / -name "indiversion.h" 2>/dev/null`

and:

`find / -name "libindi*.so" 2>/dev/null`

and provide the output here. We may have to add an additional variable to the cmake call in order to tell it where to find the indi headers and may be libraries.

[2021-04-06 23:41] FocusAG commented on #2
Just tried this evening the codes that you provided.. here you have it ;)

[2021-04-06 23:42] FocusAG commented on #2
![Uploading 20210406_231700.jpg…]()

[2021-04-07 05:37] kneo commented on #2
the link is not working.

[2021-04-07 15:21] FocusAG commented on #2
![20210406_231700](https://user-images.githubusercontent.com/80964892/113891800-f24d6d00-97b4-11eb-9f07-244819d0456c.jpg)

Here it is

[2021-04-07 18:58] kneo commented on #2
Hm, I can not read why it fails, since this is exactly how my paths are. There seems to be something wrong with the  cmake script for your linux distribution.

Maybe there are some hints in these logfiles:
`/home/stellarmate/indi-bresserexos2/build/CMakeFiles/CMakeOutput.log`
`/home/stellarmate/indi-bresserexos2/build/CMakeFiles/CMakeError.log`
the last two lines on your first screenshot.

Could y

[2021-04-07 20:04] FocusAG commented on #2
[CMakeError.log](https://github.com/kneo/indi-bresserexos2/files/6274146/CMakeError.log)
[CMakeOutput.log](https://github.com/kneo/indi-bresserexos2/files/6274147/CMakeOutput.log)

Here you have it.. If you want, I could provied to you a copy of the Stellarmate software in order to you to check potential errors..

[2021-04-08 12:49] kneo commented on #2
hm this still does not help.
However you could open the projects `CMakeLists.txt` in a text editor and comment out this line:
`find_package(INDI REQUIRED)`
by adding a `#` in front of it:
`#find_package(INDI REQUIRED)`
this should override the Indi detection, and may at least enable you to build the driver.
I added this to provide a troubleshooting information to the user. But its not strictly nec

[2021-04-08 13:56] FocusAG commented on #2
Ok Kevin.. I'll tried that tonight and keep you posted if you don't mind.

Anothe question: Do you think there's a way of improving the accuracy of the Goto?

Cheers,

Cesar

[2021-04-08 14:15] kneo commented on #2
I can only think of the ways the Handbox allows, eg. backlash correction, good alignment (star/polar) utilizing the serial protocol there is no further improvement, unfortunately. That is without touching the software of the handbox.

When using the goto, I noticed that it was quite accurate for my level of knowledge. If you have a stary night you could try using the sync function: after setting u

[2021-04-08 15:50] FocusAG commented on #2
Gotcha Kevin,

Actually It was one of the things that I did a few months ago, when I put the hypothysit of one of the problems been the polar socpe not been colimated as it should, so I did myself. But you're probably right on start doing the alignment using software or a polemaster, anyway I think there's some bug on the two and three star alignment, because it gives after a doing it a small marg

[2021-04-08 17:27] kneo commented on #2
Thats a good start, I guess.

I didn't mean that, I meant an app for you phone which shows where Polaris should be in polar scope, you then turn the "clock" to this position (the vertical line from the center cross) and then adjust Azimuth and Altitude of your mount such that the Polaris is inside the small circle. This should be optimal. Also don't trust the numbers on the display, I elaborated t

[2021-04-10 01:09] FocusAG commented on #2
Hello Kevin.. any ideas for this?

![20210409_231747](https://user-images.githubusercontent.com/80964892/114253333-53359a80-9999-11eb-872e-f147a1024135.jpg)

[2021-04-10 10:00] kneo commented on #2
Please run:

find / -name "julian_day.h" 2>/dev/null

to find out if these header file exists. Please provide the output.

If it does not exist please install:

`sudo apt-get install libnova-0.16-0 libnova-dev libnova-dev-bin`

and try again.

[2021-04-11 01:38] FocusAG commented on #2
Hello Kevin.. well it wasn't installed, I've already done it and then went to this on the CMake - - build .

![20210411_013729](https://user-images.githubusercontent.com/80964892/114289343-a3c6f980-9a66-11eb-8b11-47669b42943d.jpg)

[2021-04-11 12:49] kneo commented on #2
Hm,
it looks like you are close to the goal.

Could you open a Terminal in your home directory, simply starting it using the menu should suffice.

Then please run these commands:

and

These should create two files *.log files in your home directory. Please attach these files for your reply.

It seems like you have an "old" system, you may fix it by running these commands:

and after this conclude

[2021-04-12 12:42] FocusAG commented on #2
Hello again Kevin.. I've tried the commands that you provided last night, everything the same. One of the things that I do after I install the OS is to do the updates, but I did it again after what you've told me.. same situation.. check it:

![20210411_175002](https://user-images.githubusercontent.com/80964892/114395757-462ccd00-9b8c-11eb-84dc-f3782860070d.jpg)

![20210411_175029](https://user-im

[2021-04-12 12:50] kneo commented on #2
open the CMakeLists.txt from before,
go to the line:
set(CMAKE_MODULE_PATH ${PROJECT_SOURCE_DIR})

and add new line with:
SET(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11 -pthread")

and retry.

[2021-04-14 00:11] FocusAG commented on #2
Great news Kevin.. finally the driver is up and running on StellarMate OS. Thank you for you help and patience.

Regards,

Cesar

[2021-04-14 08:44] kneo commented on #2
Finally, I'm glad!

Would you be so kind, to provide the steps you had to do on stellarmate, to get it running? I mean everything outside of this issue so I can update the documentation.

Regards,
Kevin

[2021-04-14 10:23] FocusAG commented on #2
I can described the process was I write it down in a txt file for future instellations if you want. Oh Bresser also contacted me this morning regarding my request and some updates of the GoTo system.
They told me they are writting a new firmware for the handcontroller in order to solve some issues of the mount, one of them is the accuracy of the GoTo and the two star alignment and three. Another t

[2021-04-14 10:29] kneo commented on #2
This is some great news! May be I don't have to build my one controller after all!

Thank you very much, I see how I tailor this into the existing Documentation.

Closing the Issue since its resolved!

[2021-04-14 10:29] #2 closed

[2021-04-20 12:50] knro commented on #1
@kneo Do you require any assistance at this point to get this included in INDI 3rd party?

[2021-04-20 12:58] kneo commented on #1
I intend to integrate it into my fork on the week end. I just need to make sure that it builds as a whole. Once this succeeds I'll file the pull request.

[2021-04-24 12:59] kneo commented on #1
Hello @knro,
I finally managed to integrate the driver in a branch of the 3rd party driver repository. Also added the pull request already ... Since felt uncomfortable to merge it into the main branch I added my own for you to merge manually.

Please let me know if everything is alright so I can close this ticket.

[2021-04-26 13:46] kneo commented on #1
Pull Request merged into the 3rd Party Drivers repository. Issue Closed!

[2021-04-26 13:46] #1 closed

[2021-05-31 11:09] wuyuanyi135 opened #3 "Driver is not showing up in the Driver selection dropdown"
indiserver 1.9.1
indi-thirdparty 6b5bd37
system: Linux raspberrypi 5.10.17-v7l+ #1414 SMP Fri Apr 30 13:20:47 BST 2021 armv7l GNU/Linux
When selecting driver, this driver is not showing up. I can confirm all other telescope drivers (e.g., Telescope simulator) works fine.
![Screenshot 2021-05-31 070724](https://user-images.githubusercontent.com/11760870/120184479-07f07900-c1df-11eb-8b63-fd4abf57fa5

[2021-05-31 11:46] kneo commented on #3
Hello @wuyuanyi135,
First, please provide the software you are using, I only tested astroberry indi server in combination with kstars or stellarium!

Second, remote indi clients never showed the remote device names, only devices locally available, I suspect this is also the case with what ever software you are using.

However the Cursor in the "Driver" combo box seems to allow you to enter a custo

[2021-05-31 11:54] wuyuanyi135 commented on #3
@kneo Thanks for your response! Sorry that my information was not specific. The screenshot is from PHD2. It is a combo box and it does not allow text input.
I noticed that your Application Setup note is using text input `BRESSER Messier EXOS-2 EQ GoTo` but PHD2 does not support this. I wonder whether the driver could notify the client so it get registered in the list?

[2021-05-31 12:07] wuyuanyi135 commented on #3
![Screenshot 2021-05-31 080636](https://user-images.githubusercontent.com/11760870/120190875-2d818080-c1e7-11eb-8031-ba02c9940985.png)
I just played around the built-in driver and the driver discovery should be automatic. I will take a look and see why this driver is not being discovered.

[2021-05-31 12:14] kneo commented on #3
Unfortunately I have to tell you that PHD2 aka "software auto guiding" is not supported with this mount/this driver. The controller simply does not allow it, unless a major software update is provided by the manufacturer. Which might a reason why its not showing up. You can only use ST-4 guiding unfortunately, which should be a completely different setup! I don't know if PHD even supports somethin

[2021-05-31 12:18] wuyuanyi135 commented on #3
@kneo Thanks! Actually you are quite right. The autoguiding performance on this mount is not optimal. I was able to use the official driver to play with the auto-guide. Although this mount may not be autoguide worthy, I think the INDI client failed to detect this driver is a different problem. I will try some debug and see if I could figure out why. Thanks for your information!

[2021-05-31 12:29] kneo commented on #3
Drivers have to report their capabilities to the driver framework. Because the serial protocol simply does not support this. Just slewing, slow slewing is supported, thus I do not report a "can autoguide" flag to the framework. The driver not showing up there, might not be a bug, but intentional.

[2021-05-31 12:40] wuyuanyi135 commented on #3
@kneo Oh I see. This explains the behavior. Thank you!
Seems the windows ASCOM driver supports the slow slew. Was it not implemented or the reference project did not reverse this part of command?

[2021-05-31 12:48] wuyuanyi135 commented on #3
I think ST4 is a viable workaround. Thank you for creating this amazing driver!

[2021-05-31 12:57] kneo commented on #3
When I started examining the capabilities of the serial protocol for the driver I used the ASCOM test tool which only revealed two implements for directional motion:
1. take the current pointing coordinates and add a tiny amount (which always annoyingly beeps),
2. add the slew according to the user settings on the hand controller.

I deemed both possibilities unsuitable for software auto guiding,

[2021-05-31 13:26] wuyuanyi135 commented on #3
@kneo I totally understand this decision given the limited capability of the mount. I am also looking at the de-assembly of the ASCOM driver. I have a question: when ASCOM send pulse command (command byte 1, 2, 4, or 8), is it handled by this code? https://github.com/Spitzbube/EXOS-2_GoTo_HandController/blob/cc0b41dfcc6f78cf218073f9ca3d245d1e5431b0/applications/v2.3/ascom.c#L246

[2021-05-31 13:45] kneo commented on #3
you have also this code fragment:

[uart.c](https://github.com/Spitzbube/EXOS-2_GoTo_HandController/blob/cc0b41dfcc6f78cf218073f9ca3d245d1e5431b0/applications/v2.3/uart.c#L168)

It contains the ISRs for the serial channels. I really don't understand everything of it, I just used it to recover some messages I could not sniff. It labels these commands as guiding commands, however I sniffed these as

[2021-05-31 13:58] wuyuanyi135 commented on #3
Many thanks to your explanation. I see the pulse guide section now.

[2021-05-31 14:17] kneo commented on #3
I found it. here it is:

[main.c Line 3237 etc...](https://github.com/Spitzbube/EXOS-2_GoTo_HandController/blob/cc0b41dfcc6f78cf218073f9ca3d245d1e5431b0/applications/v2.3/main.c#L3237)

[2021-06-01 06:25] Spitzbube commented on #3
Hi both,
interesting discussion. Do you require any further help in understanding the EXOS2 handcontroller firmware?
@wuyuanyi135: Did you disassemble the ASCOM driver? It would be interesting even for me to have a look at their sources.

[2021-06-01 06:37] wuyuanyi135 commented on #3
Hi! @Spitzbube
Yes, the ASCOM driver located at `C:\Program Files (x86)\Common Files\ASCOM\Telescope\ASCOM.BRESSER.Telescope.dll` (installed by `https://cdn.shopify.com/s/files/1/0390/6029/files/BRESSER_GOTO_SYSTEM_2018-06-05.zip`) can be easily de-assembled with an IL viewer. I used JetBrains Rider to do that. The code is not mangled so it's quite easy to see the serial commands.

[2021-06-01 07:46] kneo commented on #3
From what I see now, ST-4 and Handcontroller pulses are basically the same, if only one of both is used. Thus reintegrating the auto guiding is feasible. With your disassembly method I should be able to see how its supposed to work, when reintegrating. However I suspect there will be no improvement, over the ASCOM implementation. I see what I can do next time I have access to my mount.

[2021-06-01 09:26] wuyuanyi135 commented on #3
@kneo Thanks for taking care of this. In the mean time I will test how this mount performs with ST4 guiding. Let me know if you need any help or test!

[2021-06-12 20:48] kneo commented on #3
Just FYI: I found this repository containing an Open Source version of an ASCOM driver in C#, It seems my implementation was completely incorrect, if this thing is right: [Open Source C# ASCOM Bresser repository](https://github.com/graycodecn/BRESSER).

[2021-06-13 00:50] wuyuanyi135 commented on #3
@kneo I quickly peeked the code. It looks like the disassembled ASCOM driver of the official driver. I don't know if the developer just reused some code from the official codebase.

[2021-06-14 19:48] Spitzbube commented on #3
Very interesting!

[2021-06-15 09:04] wuyuanyi135 commented on #3
@kneo I had somewhat better experience with the ST4 autoguide on this mount. For some reason, the ASCOM interface is very aggressive (I could hear the motor engage promptly). The ST4 guiding is quite smooth. I am not sure if the hand controller handles the two guiding input differently.

[2021-06-16 09:04] Spitzbube commented on #3
According to the reversed code there seems to be a factor of 2 (for RA) and 4 (for DEC) to the values coming from the ASCOM interface:

		if (bTrackingMode == MENU_TRACKING_MODE_TRACKING/*2*/)
		{
			//6fb34
			ReceiveMountAutoguideValues();

			g_iAscomGuideValueRa = g_iUart0GuideValueRa;
			g_iAscomGuideValueDec = g_iUart0GuideValueDec;

			Data_40004128.dAutoguideRa += (2 * g_iAscomGuideValueRa

[2021-06-16 09:40] kneo commented on #3
The problem is you can not change it: [uart.c Line 168](https://github.com/Spitzbube/EXOS-2_GoTo_HandController/blob/cc0b41dfcc6f78cf218073f9ca3d245d1e5431b0/applications/v2.3/uart.c#L168)

It also is used here: [file_1f30.c Line 2202](https://github.com/Spitzbube/EXOS-2_GoTo_HandController/blob/cc0b41dfcc6f78cf218073f9ca3d245d1e5431b0/applications/v2.3/file_1f30.c#L2202)

Its set to a constant wh

[2021-06-16 10:09] Spitzbube commented on #3
yes I can apply any change and run this patched fw on my EXOS2 + hand controller. So if you would like to have anything changed, please tell me. I can even send you the new hex file for you to flash.

[2021-06-16 11:23] kneo commented on #3
I'd like to come back to that offer, currently I'm still not able to flash this thing anyway. This ancient flash tool tells me "can not communicate with test board!", no matter what I set it up in accordance to the manual. Using a serial monitor to send "?" on reset does not work either. I suspect that the provided flash adapter thingy is faulty, or something. If I use the serial port for ASCOM co

[2021-06-17 09:06] Spitzbube commented on #3
Please see here the pins on the RJ9 cable connector (the actual wire colors may not be correct):
![rj9](https://user-images.githubusercontent.com/3889984/122366253-ad377b00-cf5b-11eb-806c-547d9711b8a7.png)

1 = GND
2 = ISP (connect to GND to start the flash loader)
3 = PC Rx
4 = PC Tx

[2021-06-17 19:30] kneo commented on #3
Thank you for your help @Spitzbube! I think I'm on to something, after several hours of continuity testing, I made a little schematic to illustrate the issue I found:
![Problem](https://user-images.githubusercontent.com/361976/122458742-6de74980-cfb0-11eb-9d23-ded124ac9d90.PNG)
Correct me if I'm wrong: the flash adapter connects ISP to GND. However in normal operation ISP is also connected to VCC

[2021-06-17 22:15] spyda96 opened #4 "Da and RA are backwards"
Loaded drivers and change locations on HBX to see if this would help but nothing. When I point west in the GOTO on kstars it moves east. Goto north it sews south.

[2021-06-17 22:59] kneo commented on #4
Please provide a rough location so I can reproduce the bug.

[2021-06-18 01:36] spyda96 commented on #4
47:36:32.0 237:39:47.0 for site management
seattle washington for Kstars
same for HBX

[2021-06-18 15:05] spyda96 commented on #4
I did some more trouble shooting I felt like this was more of a user error and not programming. because once I change my location in Kstars to china I had the correct RA and DA movement.
did some more testing last night.
power on mount
adjust time
adjust location
start ekos
start indi
when into site management lon 237.663 lat 47.6089
change site management to lon -122.629 lat 48.4953
check HBX cor

[2021-06-18 16:54] kneo commented on #4
This still might be a problem though, I'm unsure if its a driver error or a bug in the firmware. Both is possible! Apparently the issue occurs when your location is past the null meridian.
If you happen to be located eastwards the problem does not occur, which is why it never happened to me.

Its easy to determine if its a firmware bug: If you simply use the ASCOM driver and redoing your steps sho

[2021-06-22 14:48] wuyuanyi135 commented on #3
I purchased the official ISP cable from ES and it does force the handbox entering the ISP mode during boot up. I believe the ISP pin is internally hard wired. So for normal operation the cable must be connected to the handbox after the initialization.

[2021-06-22 15:01] kneo commented on #3
I have everything official from Bresser and yes I made a yet incomplete schematic of the whole board in the documentation folder: The ISP pin is wired to the processor directly but also to VCC. No problem in normal operation but it results in a short between VCC and GND when using the flash adapter. I measure continuity when the adapter is connected between these two pins. I consider shorts genera

[2021-06-23 23:27] spyda96 commented on #4
Discovered another setting in the Configure Kstars menu for the INDI general setting, in the "Time & Location Updates" uncheck KStars update all devices time and locations.

By doing this I was able to connect to the HBX without having to change the Locations or Time zone settings every time I started a new connection with KStars to HBX.

[2021-06-23 23:29] spyda96 commented on #4
![image](https://user-images.githubusercontent.com/36378749/123180437-1e859b00-d440-11eb-8e31-113d16b2b5dc.png)

[2021-06-24 18:35] kneo commented on #4
Hello, thats just a workaround: however it testifies against my driver. If it works with the handbox there can not be a firmware issue. Thus I have to look into it. I reopen and fix this, with the next driver update.

[2021-06-26 21:57] kneo commented on #3
@wuyuanyi135 I created a branch for development, the autoguding support is reintegrated within this branch only,
See: [dev_Ver0.900](https://github.com/kneo/indi-bresserexos2/tree/dev_Ver0.900)
With these modifications your can select the Exos2 GoTo in the PHD2 dialogs, but you'll still have the same "shooting star" problem. I tried to simulator guide with the mount and it always drifted away, so

[2021-06-27 06:04] wuyuanyi135 commented on #3
@kneo Thanks! I will give it a try next clear night. I guess this guiding rate is hardcoded as discussed above, not controlled by the guiding speed as in the handbox setting menu?

[2021-06-27 09:50] kneo commented on #3
you can set the value there, but it will always be 2 and 4 times the value of the normal guiding amount, that is without a firmware patch.

[2021-07-08 11:38] stardog123 commented on #4
Hello!
First I would like to thank you for making this driver. I used the mount for more than half a year and still wasn’t able to make it work even once. With your driver I was able to connect it and move it as well for the first time.
however, I think I have the same problem as the person that oben this thread. I was trying to move the mount to the east, but it moved to the west.
I also had the

[2021-07-12 23:57] stardog123 commented on #4
As there is no good weather in the near future, I won't be able to report it correctly. I will report back however, once I am able to go back outside.
I tried once during the day and the workaround from spyda96 seemed to make it work perfectly with no issues at all. I will know for sure, once I am in the field again.
That workaround seems to be the solution to my problems though.

[2021-07-20 15:59] rcreswell opened #5 "Lat Lon Reversed"
When using the INDI panel for the Bresser driver, setting the lat long entries appear to be reversed on the Exos-2GT handbox.  I noticed this when I was limited to setting the longitude to my meridian (-121). The INDI panel form limits the entry between (-90<x<90).  Further, when activating the 'Set' button, lat changes lon, and lon changes lat between the INDI panel and the handbox.

[2021-07-20 21:25] kneo commented on #5
Thanks, I suspected something like this, it is related if not cause of the Issue #4. I'm currently working on a 0.900 Version of the driver. I'll see to fix this issue in the near future.

[2021-07-26 23:30] FocusAG commented on #4
Kneo.. I have a question regarding the updating of the driver..
I'm using stellarmate. When you do the update of the driver here on github, there is a way of updating her in the Stellarmate/Indi repository? A simple system update as we do time to time is enough to update the driver, or we need any extra commands to do it?

As said in this issue, the coordinates are changed, and in the Kstars in th

[2021-07-27 07:11] kneo commented on #4
@FocusAG I intent to fix this in a special branch, to get it tested and later to integrate it into the indi 3rd party repository.

regarding: kstars, I'm not aware which corner case updates what, I usually test it in the mount settings window. When you initially connect to the mount it also updates (see above), I don't know where else there is a possibility to change settings. But I'll look into i

[2021-07-30 23:51] kneo commented on #5
I added some changes to the latest dev_Ver0.900 commit (046e1aa565b0d6c4f7d210fc1d2d9486eb00b316). The boundaries for the longitude and latitude values were swapped. It should work correctly now. However I could not reproduce the cross swap of the geographic coordinates issue.

Steps to reproduce:
I set both to something equal (eg. 10°), then change either of them to a significant different value

[2021-07-31 00:31] rcreswell commented on #5
Kevin,

Thanks for this incredibly fast response.  I will update the driver on Astroberry today and report back on the results.

Kind Regards,

Ron Creswell

Vacaville, CA

From: Kevin Krüger ***@***.***>
Sent: Friday, July 30, 2021 4:52 PM
To: kneo/indi-bresserexos2 ***@***.***>
Cc: rcreswell ***@***.***>; Author ***@***.***>
Subject: Re: [kneo/indi-bresserexos2] Lat Lon Reversed (#5)

I added so

[2021-08-03 04:32] rcreswell commented on #5
Thank you very much for the update to the Explore Scientific FL-EXOS-2GT mount INDI driver.  All functions appear to be working well including the INDI Site Management - Scope Location and UTC settings.    Whatever was done has restored the scope location lat/lon function to the correct order and value range (e.g., I can enter coordinates 121W 38N without the INDI form rejecting the setting).

Als

[2021-08-03 09:31] kneo commented on #5
Hello @rcreswell,
thank you for your appreciation, but I do not seek monetary compensation for building this driver.

However I'm glad that your problem appears to be fixed now.

You may want to check out issue #3 for information and limitation regarding the current auto guiding implementation.

clear skies!

[2021-08-03 09:31] #5 closed

[2021-08-03 09:34] kneo opened #6 "Timezone is not updated"
Driver does not update the timezone over ekos in kstars.
This may be a reason for go to and pointing inaccuracies.

The final byte of the set time message does not bother with time zones, its may cause issues with the operation of the mount.

[2021-08-11 10:55] YardoDEVS opened #7 "Driver installed but not showing on indi manager"
Hi, I just installed your driver to use my bresser with astroberry but the driver does not appears in indi webmanager. I have followed your install docs steps but after the driver says it's installed I can't view it throw indi webmanager. I'm using Astroberry Server 2.0.3 with latest distro updates. Any help please? Thanks in advance, cheers

[2021-08-11 15:11] kneo commented on #7
Did you check out the main branch or the [dev_Ver0.900](https://github.com/kneo/indi-bresserexos2/tree/dev_Ver0.900) branch?

[2021-08-11 16:06] YardoDEVS commented on #7
I wrote my microsd for the Raspberry 4 with the main Astroberry Server 2.0.3 image, sorry but I don't understand the difference betwen versions, I thought there was only one cooked version of the distro.

[2021-08-11 16:21] kneo commented on #7
Its alright, you said you followed the install docs. So its the main branch.

could you check if these files exist:

- /usr/bin/indi_bresserexos2
- /usr/share/indi/indi_bresserexos2.xml

use a file manager or what ever to confirm.

[2021-08-11 16:25] YardoDEVS commented on #7
Yes, these files are in these locations. The xml one contains plain text inside with the name of driver and version info, then I suppose the driver was created in good conditions too

[2021-08-11 19:13] kneo commented on #7
could you open a terminal in the "build" directory and issue this command:

`indiserver -v ./indi_bresserexos2`

and post the output?

It should look like this:

[troubleshooting](https://github.com/kneo/indi-bresserexos2/blob/main/Documentation/Troubleshooting.md#bugreport-provide-useful-debug-information)

and also blocks when running correctly, you have to use `[CTRL]+[C]` to 'kill' the program

[2021-08-11 20:08] YardoDEVS commented on #7
I obtain this result, it keeps in this state forever and no window is opened:

![IMG_20210811_220449](https://user-images.githubusercontent.com/88775396/129095877-63df03c9-81c4-4229-abd8-6f6ac965f285.jpg)

[2021-08-11 20:21] YardoDEVS commented on #7
Maybe can be that I didn't setup my geolocation info? or that is irrelevant?

[2021-08-12 07:19] kneo commented on #7
This looks fine, the driver should work. This means you could actually connect kstars with it. Now we need to figure out why the indi web manager refuses to show the driver in the list. I come back for that ...

[2021-08-12 08:04] YardoDEVS commented on #7
Ok, thank you so much! Then Can I use the driver in Kstarts without problem? That sounds well

[2021-08-12 08:19] kneo commented on #7
Its supposed to work using the web management framework. I'd recommend to stick to that, since the above mentioned method is just for troubleshooting. I just wanted to make sure the driver works basically. The name in the manual is different you could check for "BRESSER Messier EXOS-2 EQ GoTo" in the list. However I need to set up new system to see what happens.

[2021-08-12 09:34] YardoDEVS commented on #7
Yes, that name does not appear at all ... You can try it If you have a raspberry pi 4, perform a fresh install of the Astroberry Server 2.0.3 pre-cooked image, then boot connected by hdmi. I did the update of the distribution using the commands that appear on its official website, the last thing I did was install your driver for the bresser and I have the problem of the indi webmanager not showing

[2021-08-12 17:07] rcreswell commented on #7
I have noticed, that on the build the execute files are installed as follows:

/usr/local/bin/indi_bresserexos2
/usr/local/share/indi/indi_bresserexos2.xml

using sudo cp you can copy them to:

/usr/bin/indi_bresserexos2
/usr/share/indi/indi_bresserexos2.xml

Restart the INDI server and the Bresser driver shows up.

I suspect that using the proper build command will prevent this from happening in

[2021-08-12 17:19] kneo commented on #7
I used these paths because all the other drivers are placed there too. I don't want to litter files everywhere on the file system. I will ask where the driver files are to be placed. Instead copying the files you could also make a symbolic link as a workaround:

- `sudo ln /usr/local/bin/indi_bresserexos2 /usr/bin/indi_bresserexos2`
- `sudo ln /usr/local/share/indi/indi_bresserexos2.xml /usr/share

[2021-08-12 17:25] YardoDEVS commented on #7
Excellent notice! Now I just have to follow your setup guide, right? I have to put a two hour limit for the exos II in Kstars to prevent the telescope from going to the mount and breaking something right? I am Spanish and the documentation on astroberry in my language is ridiculous ... Thanks in advance! And continue with this project! This mount is one of the most affordable to start in astrophot

[2021-08-12 17:52] kneo commented on #7
@YardoDEVS you should be able to set up the rest of the software stack.

Concerning 2 hours: in general I do not recommend using the mount unattended, for now. Having a finger ready on the off switch is the best insurance for your equipment. There are some annoying quirks, for instance, loud beeping when your object moves over the meridian, you have to press a button on the hand controller to conf

[2021-08-13 20:39] kneo commented on #7
I found the error, its in the cmake file, for some reason the default prefix is "/usr/local" instead of just "/usr" if you are not setting it manually. This is new because my old installation resided at the expected location. I fixed it in my current development branch, ready to be merged back, when I fixed some other issues as well. For now I can only offer a work around in the form mentioned abo

[2021-08-14 11:22] kneo commented on #6
kstars uses utc, and time zone to provide local time, the hand box does it the other way around, which seems intuitively legit. This caused the mount to be off by the amount of your utc offset in your timezone. The driver not provides the local time and correct time zone to the mount, which should eliminate inaccuracies, wrong motions.

[2021-08-14 11:22] #6 closed

[2021-08-14 13:10] #7 closed

[2021-08-14 18:48] kneo commented on #4
@FocusAG fyi: I added to latest source to the indi/3rdParty repository, if the pull request gets accepted, the new source should be available via your package manager soon.

[2021-08-18 01:29] rcreswell opened #8 "Handset time set to UTC instead of local"
I have discovered that when setting the Site Management Element 'UTC' the  set action changes the JOC handset time to UTC time instead of local time.  The time on the handset changes to the 'UTC Time'  setting irrespective of the 'UTC Offset' setting instead of calculating the handset local time (e.g., the offset has no impact).

I first noticed this when I used the UTC set time facility and targe

[2021-08-18 07:30] kneo commented on #8
Yes, see issue #6, its already fixed in the latest release. You can wait until your distributor updates the packages, or build the driver yourself using the latest main branch.

[2021-08-18 22:23] rcreswell commented on #8
The behavior was exhibited on the latest main branch build.  I cleared the old installation out and started fresh just to be sure.  I also  varied the UTC offset setting to see if there was any impact on the handset time setting but there was none.  Whatever is put in the element 'UTC' is the time that the handset is set to.  Any value placed in 'UTC Offset' has no impact on the handset time.

As

[2021-08-19 17:38] kneo commented on #8
I think I fixed it, you can check out the latest main branch, and retry. There were also still some issues with the location, I hopefully fixed those too.

[2021-08-19 18:59] rcreswell commented on #8
I removed the prior build and reinstalled the main branch from scratch.  After testing the Site Management Element 'UTC' and 'UTC Offset' the INDI Control Panel set action still places the Exos-2gt handset time to UTC time.  Varying the 'UTC Offset' parameter also continues to have no effect.

Lat/Lon entries continue to work fine.

[2021-08-19 19:02] kneo commented on #8
you need to click the "time" button followed by "OK" in the dialog box, the "set" button only affects the geo location setting.

[2021-08-19 19:52] rcreswell commented on #8
Kevin,

The INDI Control Panel in KStars does, as you indicate,  show 'Time' button for the UTC parms but other INDI Control Panel clients like IPARCOS and the iPhone CloudMakers iOS app show 'Set' for the UTC parms instead.

In any case, I tried all three clients (including the use of 'Time'/'OK' buttons in the KStars client) with the same effect.  The UTC field entry becomes the handset time reg

[2021-08-19 21:23] kneo commented on #8
I'm sorry to steal your time! I looked through the other drivers shipped with indi, and shamelessly stole code from a celestron driver which happens to work in a similar way. You now should be able to set the utc time and the hand box should adjust accordingly.

[2021-08-19 21:27] rcreswell commented on #8
Thanks Kevin.  I'm the one stealing your time. I'd like to personally shake your hand for all of this skilled workmanship if it were possible.

Regards,

Ron

[2021-08-19 21:35] kneo commented on #8
Thanks for your feedback, I take it its working now expected and the issue can be closed?

[2021-08-19 21:46] rcreswell commented on #8
I am pleased to report that the UTC time setting feature is now working correctly with UTC and offset entry setting the handset to the correct local time.  Thanks once again Kevin.

[2021-08-19 21:47] #8 closed

[2021-08-19 22:09] kneo commented on #8
I forgot to remove a wrong offset so the year was wrong ... the latest checkout will fix that. Never ever mess with time ...

[2021-08-19 22:28] rcreswell commented on #8
Ya, I saw that.  The year was 3921 (1900 years future).  The number 1900 seemed like a clue to me.  You were one step ahead of me.

Best Regards Kevin,

Ron Creswell

From: Kevin Krüger ***@***.***>
Sent: Thursday, August 19, 2021 3:09 PM
To: kneo/indi-bresserexos2 ***@***.***>
Cc: rcreswell ***@***.***>; Author ***@***.***>
Subject: Re: [kneo/indi-bresserexos2] Handset time set to UTC instead of

[2021-08-22 13:26] kneo commented on #4
I added some changes concerning time an location, in the latest release. I should also fix issues with wrong motion. It happened because, for one, the Timezone never was provided by the driver. This leads to a time difference -12 hours in any case. Since the handbox uses your provided local time and uses this and the timezone offset to calculate back the UTC time for astrometrics, miscalculations

[2021-10-02 17:33] #4 closed

[2021-10-02 20:15] #3 closed

[2021-12-31 23:29] rcreswell opened #9 "INDI Control Panel Setting Site Management/UTC/UTC Time/UTC Offset"
Setting a UTC Time/Offset resulting in a Local Time falling on December 29, 30, and 31 for any year will yield an INDI Control Panel error.  This error results in the mount's local time no being changed.

A work around is to use the mount handset's SETUP/Time and Date option to set the time manually but this will not allow INDI applications (e.g., KStars, SkySafari, etc.) to set the mount time aut

[2022-05-31 21:04] jkoenig72 opened #10 "AZ Mount support"
Hi,

I know those mount come with those 70/350 or 80/400 refractors are cheap. Here in Germany they called Bresser Goto Mount, the same one are used by explore scientific or maxvision. I think the original vendor is called them Joc goto mount system.

I mean it would be really a cool travel mount, maybe with a different scope, just a dslr with a small lens. An equatorial wedge can be added.

What

[2022-06-01 08:50] kneo commented on #10
Hello,
AZ-Mode was not intended, because the exos 2 is an eq mount. The reason why it somehow works is likely because it uses the equatorial coordinate system instead of the AZ-Coordinates. I do not have a AZ version, so I can not test that. There are however hints of this mode in the firmware of the handbox.

So it might be possible to add a switch to the driver to manually select between both mo

[2022-06-01 20:41] jkoenig72 commented on #10
Hi,

thanks for the explanation. So let’s see if I get it right.

1.) those az mounts can only work in az mode. There is no way to set it to eq mode, therefore adding a wedge will not help.
2.) the driver needs a manual switch as the mount does not report it’s mode to the driver
3.) the driver needs to implement this az mode conversation. The driver runs in eq mode, convert it to az and communicat

[2022-06-02 06:07] kneo commented on #10
Hello,

I have not seen, any option to change the mode in my handbox, so I assume its AZ or EQ only. I think it is not that simple, you'd need some kind of firmware modification, and than its still possible that the motors don't "talk EQ" either. I have not yet found a way to modify the firmware of those.

The indi platform has a lot of conversion capabilities. I advice against building something

[2022-06-06 08:45] Spitzbube commented on #10
The handcontroller firmware contains goto computation alogorithms for both az and eq mode. It dynamically switches to either mode depending on an initial answer from the motor controllers in the mount during startup. And you are right, at the moment it is not possible to select the mode via the menu. Since I have only the eq EXOS-2 I will maybe try to get one of these Bresser automatic az mounts.

[2022-06-06 09:27] kneo commented on #10
I just saw you can query the mount mode via ASCOM command, so a switch might not be necessary at all, and it seems to use EQ-Coordinates no matter what. So basically it should just work, and converts everything by itself. Which is nice, but I don't know how well it works though. The pointing was always a bit weird with the driver (and the ascom version as well).
It pointed somewhere in the sky, no

[2022-06-07 17:09] kneo commented on #9
Its possible, I added a validation to the driver because you can enter obviously invalid dates like 99-99-9999 using the serial commands. So the Handbox does not seem to care. My validation however was a mistake from the start, its not suitable for any of the 10 million possible time zones and date exceptions, I'm going to remove it and let libnova handle that time stuff. As a workaround you can d